TZ=America/Guayaquil
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8185

APP_CATALOG_REFRESH_FIXED_DELAY_MS=21600000
APP_CATALOG_REFRESH_INITIAL_DELAY_MS=30000
APP_BUSINESS_LINES_SOURCE=oracle
APP_BUSINESS_LINES_CACHE_TTL_HOURS=6
APP_BUSINESS_LINES_DEFAULT_REQUEST_CHAIN=1
APP_BUSINESS_LINES_DEFAULT_REQUEST_STORE=148
APP_BUSINESS_LINES_DEFAULT_REQUEST_STORE_NAME=FYBECA AMAZONAS
APP_BUSINESS_LINES_DEFAULT_REQUEST_POS=1
APP_BUSINESS_LINES_DEFAULT_REQUEST_CHANNEL_POS=POS
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_URL=jdbc:oracle:thin:@10.100.3.20:1521:PRS6
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_USERNAME=TUKUNAFUNC
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_PASSWORD=tvkvn4tst
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_DRIVER_CLASS_NAME=oracle.jdbc.OracleDriver
APP_INTEGRATIONS_DEFAULT_CONNECT_TIMEOUT_MS=60000
APP_INTEGRATIONS_DEFAULT_READ_TIMEOUT_MS=60000
APP_INTEGRATIONS_MOCK_ENABLED=true

APP_INTEGRATION_PROVIDERS_DEFAULT_BASE_URL=http://localhost:8185
APP_INTEGRATION_PROVIDERS_DEFAULT_TECHNICAL_USER=system
APP_INTEGRATION_PROVIDERS_ECUABET_BASE_URL=https://apidev.virtualsoft.tech/operatorapi-new
APP_INTEGRATION_PROVIDERS_ECUABET_TECHNICAL_USER=system
APP_INTEGRATION_PROVIDERS_ECUABET_PROVIDER_NAME=ECUABET
APP_INTEGRATION_PROVIDERS_ECUABET_CATEGORY_CODE=1
APP_INTEGRATION_PROVIDERS_ECUABET_SUBCATEGORY_CODE=1
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICE_PROVIDER_CODE=1
APP_INTEGRATION_PROVIDERS_ECUABET_SHOP_ID=998739
APP_INTEGRATION_PROVIDERS_ECUABET_SHOP_IP=
APP_INTEGRATION_PROVIDERS_ECUABET_COUNTRY=66
APP_INTEGRATION_PROVIDERS_ECUABET_TOKEN=OEpXWWREQVFPSGl1Qi90Sko2RVJsbFM4bVNDRFljNGdzTUcyd2haTERWaz0=
APP_INTEGRATION_PROVIDERS_ECUABET_AUTH_MODE=STATIC
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_ITEM=10001565826
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_PATH=/user/search
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_CAPABILITIES=BUSCAR_USUARIO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_NAME=BUSCAR_USUARIO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_ITEM=10001565827
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_PATH=/user/searchwithdraw
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_CAPABILITIES=BUSCAR_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_NAME=BUSCAR_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHIN_ITEM=10001565826
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHIN_PATH=/user/deposit
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHIN_CAPABILITIES=DEPOSITO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHIN_NAME=DEPOSITO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHOUT_ITEM=10001565827
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHOUT_PATH=/user/withdraw
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHOUT_CAPABILITIES=EJECUCION_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_EXECUTE_CASHOUT_NAME=EJECUCION_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHIN_ITEM=10001565826
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHIN_PATH=/rollback/deposit
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHIN_CAPABILITIES=REVERSO_DEPOSITO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHIN_NAME=REVERSO_DEPOSITO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHOUT_ITEM=10001565827
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHOUT_PATH=/rollback/withdraw
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHOUT_CAPABILITIES=REVERSO_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_REVERSE_CASHOUT_NAME=REVERSO_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_LOTERIA_BASE_URL=https://www8.loteria.com.ec
APP_INTEGRATION_PROVIDERS_LOTERIA_TECHNICAL_USER=system
APP_INTEGRATION_PROVIDERS_LOTERIA_PROVIDER_NAME=LOTERIA NACIONAL
APP_INTEGRATION_PROVIDERS_LOTERIA_CATEGORY_CODE=1
APP_INTEGRATION_PROVIDERS_LOTERIA_SUBCATEGORY_CODE=1
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICE_PROVIDER_CODE=2
APP_INTEGRATION_PROVIDERS_LOTERIA_CANAL=BMV
APP_INTEGRATION_PROVIDERS_LOTERIA_MEDIO_ID=23
APP_INTEGRATION_PROVIDERS_LOTERIA_PUNTO_OPERACION_ID=52132
APP_INTEGRATION_PROVIDERS_LOTERIA_SHOP_IP=192.168.3.230
APP_INTEGRATION_PROVIDERS_LOTERIA_CLIENTE_ID=58542
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_MODE=LOGIN
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_TTL_HOURS=24
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_REFRESH_ON_STARTUP=true
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_LOGIN_PATH=/APIVentasLoteria/api/Ventas/Login
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_LOGIN_USERNAME=USRFEMSAPREP
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_LOGIN_PASSWORD=F3m993sA.
APP_INTEGRATION_PROVIDERS_LOTERIA_AUTH_LOGIN_PRODUCT_TO_SELL=Bet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_PRECHECK_CASHIN_ITEM=10001565828
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_PRECHECK_CASHIN_PATH=/APIVentasLoteria/api/Ventas/RecargarBet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_PRECHECK_CASHIN_CAPABILITIES=RECARGA593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_PRECHECK_CASHIN_NAME=RECARGA593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHIN_ITEM=10001565828
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHIN_PATH=/APIVentasLoteria/api/Ventas/ConfirmarBet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHIN_CAPABILITIES=CONFIRMA593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHIN_NAME=CONFIRMA593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHIN_ITEM=10001565828
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHIN_PATH=/APIVentasLoteria/api/Ventas/ValidarBet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHIN_CAPABILITIES=VALIDA593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHIN_NAME=VALIDA593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_REVERSE_CASHIN_ITEM=10001565828
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_REVERSE_CASHIN_PATH=/APIVentasLoteria/api/Ventas/ReversarRetiroBet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_REVERSE_CASHIN_CAPABILITIES=REVRETIROOL
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_REVERSE_CASHIN_NAME=REVRETIROOL
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHOUT_ITEM=10001565829
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHOUT_PATH=/APIVentasLoteria/api/Ventas/ConsultarRetiroBet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHOUT_CAPABILITIES=CONRETIROOL
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_VERIFY_CASHOUT_NAME=CONRETIROOL
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHOUT_ITEM=10001565829
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHOUT_PATH=/APIVentasLoteria/api/Ventas/RetirarBet593
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHOUT_CAPABILITIES=RETIROOL
APP_INTEGRATION_PROVIDERS_LOTERIA_SERVICES_EXECUTE_CASHOUT_NAME=RETIROOL
