TZ=America/Guayaquil
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8185

APP_CATALOG_REFRESH_FIXED_DELAY_MS=21600000
APP_CATALOG_REFRESH_INITIAL_DELAY_MS=30000
APP_BUSINESS_LINES_SOURCE=oracle
APP_BUSINESS_LINES_CACHE_TTL_HOURS=6
APP_BUSINESS_LINES_DEFAULT_REQUEST_CHAIN=1
APP_BUSINESS_LINES_DEFAULT_REQUEST_STORE=148
APP_BUSINESS_LINES_DEFAULT_REQUEST_STORE_NAME=FYBECA AMAZONAS
APP_BUSINESS_LINES_DEFAULT_REQUEST_POS=1
APP_BUSINESS_LINES_DEFAULT_REQUEST_CHANNEL_POS=POS
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_URL=jdbc:oracle:thin:@10.100.3.20:1521:PRS6
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_USERNAME=TUKUNAFUNC
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_PASSWORD=tvkvn4tst
APP_BUSINESS_LINES_ORACLE_DATASOURCE1_DRIVER_CLASS_NAME=oracle.jdbc.OracleDriver
APP_INTEGRATIONS_DEFAULT_CONNECT_TIMEOUT_MS=5000
APP_INTEGRATIONS_DEFAULT_READ_TIMEOUT_MS=10000
APP_INTEGRATIONS_MOCK_ENABLED=true

APP_INTEGRATION_PROVIDERS_DEFAULT_BASE_URL=http://localhost:8185
APP_INTEGRATION_PROVIDERS_DEFAULT_TECHNICAL_USER=system
APP_INTEGRATION_PROVIDERS_ECUABET_BASE_URL=https://apidev.virtualsoft.tech/operatorapi-new
APP_INTEGRATION_PROVIDERS_ECUABET_TECHNICAL_USER=system
APP_INTEGRATION_PROVIDERS_ECUABET_PROVIDER_NAME=ECUABET
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICE_PROVIDER_CODE=1
APP_INTEGRATION_PROVIDERS_ECUABET_SHOP_ID=998739
APP_INTEGRATION_PROVIDERS_ECUABET_COUNTRY=66
APP_INTEGRATION_PROVIDERS_ECUABET_TOKEN=OEpXWWREQVFPSGl1Qi90Sko2RVJsbFM4bVNDRFljNGdzTUcyd2haTERWaz0=
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_ITEM=10001565826
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_PATH=/user/search
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_CAPABILITIES=BUSCAR_USUARIO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHIN_NAME=BUSCAR_USUARIO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_ITEM=10001565827
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_PATH=/user/searchwithdraw
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_CAPABILITIES=BUSCAR_NOTA_RETIRO
APP_INTEGRATION_PROVIDERS_ECUABET_SERVICES_PRECHECK_CASHOUT_NAME=BUSCAR_NOTA_RETIRO
